.ant-pagination.ant-pagination-mini {
  align-items: center;
  gap: 8px;
}

.ant-pagination.ant-pagination-mini .ant-pagination-item,
.ant-pagination.ant-pagination-mini .ant-pagination-next,
.ant-pagination.ant-pagination-mini .ant-pagination-prev {
  width: 36px;
  height: 36px;
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: theme('borderRadius.radius-m');
}

.ant-pagination .ant-pagination-item-active {
  background-color: theme('colors.primary.500');
  border-color: theme('colors.primary.500');
  font-weight: 400;
}

.ant-pagination .ant-pagination-item-active:hover {
  border-color: theme('colors.primary.500');
}

.ant-pagination .ant-pagination-item a {
  color: theme('colors.color.800');
}

.ant-pagination .ant-pagination-item-active a,
.ant-pagination .ant-pagination-item-active:hover a {
  color: theme('colors.color.800');
}

.ant-pagination.ant-pagination-mini:not(.ant-pagination-disabled) .ant-pagination-item:not(.ant-pagination-item-active) {
  border-color: theme('colors.color.300');
}

.ant-pagination.ant-pagination-mini .ant-pagination-next,
.ant-pagination.ant-pagination-mini .ant-pagination-prev {
  border: 1px solid theme('colors.color.300');
}

.ant-pagination.ant-pagination-mini .ant-pagination-next {
  transform: rotate(180deg);
}

.ant-pagination .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon,
.ant-pagination .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon {
  color: theme('colors.primary.500');
}

.ant-pagination .ant-pagination-prev .ant-pagination-item-link, 
.ant-pagination .ant-pagination-next .ant-pagination-item-link {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-test {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2; 
  -webkit-box-orient: vertical;
}