.ant-radio-wrapper .ant-radio-inner{
  border-width: 1.5px;
  border-color: theme('colors.color.300') !important;
  background-color: theme('colors.color.50') !important;
}

.ant-radio-wrapper .ant-radio-checked::after{
  border: none;
}

.ant-radio-wrapper .ant-radio-checked .ant-radio-inner,
.ant-radio-wrapper:hover .ant-radio-inner
{
  border-color: theme('colors.secondary.600') !important;
  background-color: theme('colors.color.50') !important;
}

.ant-radio-wrapper .ant-radio-checked .ant-radio-inner::after{
  background-color: theme('colors.secondary.600');
  transform: scale(0.475);
}

.ant-radio-wrapper .ant-radio-disabled .ant-radio-inner,
.ant-radio-wrapper .ant-radio-disabled.ant-radio-checked:hover .ant-radio-inner
{
  border-color: theme('colors.color.300') !important;
  background-color: theme('colors.color.200') !important;
}

.ant-radio-wrapper .ant-radio-checked.ant-radio-disabled .ant-radio-inner::after{
  background-color: theme('colors.color.300');
}