.ant-table-wrapper .ant-table-thead >tr>th {
  color: theme('colors.color.700');
  background: theme('colors.color.100');
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  border-bottom: none;
  padding:8px 16px !important;
}

.ant-table-wrapper .ant-table-thead >tr>th[rowspan] {
  border-right: 1px solid theme('colors.color.300');
}

.ant-table-wrapper .ant-table-thead >tr>th[colspan] {
  border-bottom: 1px solid theme('colors.color.300') !important;
}

.ant-table-wrapper .ant-table-container table>thead>tr:first-child >*:first-child {
  border-start-start-radius: unset;
}

.ant-table-wrapper .ant-table-container table>thead>tr:first-child >*:last-child {
  border-start-end-radius: unset;
}

.ant-table-wrapper .ant-table-tbody >tr >td {
  border-bottom: none;
  padding:8px 16px !important;
}

.ant-table-wrapper .ant-table-tbody >tr.ant-table-measure-row >td {
  padding:0 !important;
}

.ant-table-wrapper .ant-table-tbody:before,
.ant-table-wrapper .ant-table-tbody:after {
  content: "-";
  display: block;
  line-height: 8px;
  color: transparent;
}

.ant-table-wrapper .ant-table-thead >tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before{
  display: none;
}

.ant-table-wrapper .ant-table-column-sorter-up.active,
.ant-table-wrapper .ant-table-column-sorter-down.active {
  color: theme('colors.color.900');
}

.ant-table-wrapper .ant-table-thead th.ant-table-column-sort {
  background: theme('colors.color.100');
}

.ant-table-wrapper td.ant-table-column-sort {
  background: theme('colors.color.50');
}

.ant-table-wrapper .ant-table[data-rounded="true"] {
  overflow: hidden;
  border-radius: theme("borderRadius.radius-m");
  border: 1px solid theme("colors.color.300");
}

.ant-table-wrapper .ant-table-thead th.ant-table-column-has-sorters:focus-visible {
  color: theme('colors.color.700');
}

.ant-pagination .ant-pagination-disabled {
  background-color: theme('colors.color.200');
}